<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <span>français (Cameroun)</span> &nbsp;
      <ion-icon class="langs" name="chevron-down-outline" mode="ios"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center logo">
    <img src="../../../assets/logo.png">
  </div>

  <div class="ion-padding">
    <ion-button expand="block" class="text-sm">
      <ion-icon name="logo-facebook"></ion-icon> &nbsp;
      Continuer en tant que Hervé Yves</ion-button>
  </div>
  <div class="separate ion-padding">
    <div class="hr-or"></div>
    <div class="ion-text-center oublier">
      <p>
        <a (click)="onShowForm()">S'inscrire avec un email ou un numéro de téléphone</a> </p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <p>Vous n'avez pas de compte? <a>Inscrivez-vous</a> </p>
    </div>
  </ion-toolbar>
</ion-footer>
