<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-back-button slot="start"></ion-back-button>
    <h5 id="title">Aide à la connexion</h5>
  </ion-item>
  <div class="ion-text-center ion-padding-top">
    <h3>Recherchez votre <br> compte</h3>
    <div class="ion-padding-horizontal">
      <p>Entrez votre nom d'utilisateur, votre adresse <br> email ou le numéro de téléphone assié à <br> votre compte.</p>
    </div>
  </div>
  <div class="ion-padding-horizontal">
    <ion-item lines="none" class="getdata ion-no-padding">
      <ion-input type="text" placeholder="Num. Téléphone, e-mail ou nom d'utilisateur"></ion-input>
    </ion-item>
    <ion-button disabled="true" expand="block" class="ion-text-capitalize text-sm ion-margin-top">
      Suivant</ion-button>
  </div>
  <div class="ion-padding">
    <div class="hr-or"></div>
    <div class="second-button ion-text-center">
      <a class="text-sm">
        <ion-icon name="logo-facebook" size="large"></ion-icon> Se connecter avec Facebook</a>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <a class="sup">Besoin d'aide supplementaire ?</a>
    </div>
  </ion-toolbar>
</ion-footer>
