<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <span>français (Cameroun)</span> &nbsp;
      <ion-icon class="langs" name="chevron-down-outline" mode="ios"
      (click)="onShowModal()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-padding-vertical logo">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="ion-padding">
    <ion-item lines="none" class="getdata ion-no-padding">
      <ion-input [(ngModel)]="login" type="text" placeholder="Num. Téléphone, e-mail ou nom d'utilisateur"></ion-input>
    </ion-item>
    <ion-item lines="none" class="getdata ion-no-padding" >
      <ion-input [(ngModel)]="password" type="text" placeholder="Mot de passe"></ion-input>
      <ion-icon  name="eye-off" mode="ios" class="eyeoff"></ion-icon>
    </ion-item>
    <ion-button (click)="onShowHomePage()" [disabled]="isActived"
                expand="block" class="ion-text-capitalize text-sm">
      Connexion</ion-button>
  </div>
  <div class="ion-text-center oublier">
    <p>Informations de connexion oubliées ?
      <a (click)="onShowFindPage()">Obtenez de l'aide pour vous connecter</a> </p>
  </div>
  <div class="ion-padding">
    <div class="hr-or"></div>
    <ion-button expand="block" class="text-sm ion-margin-top">
      <ion-icon name="logo-facebook"></ion-icon> &nbsp;
      Continuer en tant que Hervé Yves</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-text-center">
  <div class="ion-text-center">
    <p>Vous n'avez pas de compte? <a (click)="onShowRegisterPage()">Inscrivez-vous</a> </p>
  </div>
</ion-footer>
