<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="ellipse"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="stories">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profiles">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
