<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="stories">
      <ion-icon name="tv-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="bag-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profiles">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
