ion-title{
  font-size: initial;
  font-weight: bold;
}

.chat-icons{
  margin-right: 10px;
  font-size:1.6em;
}

.chat-title{
  font-weight: bold;
}

.chat-profile{
  border-radius: 50%;
  weight: 50px;
  heigth:50px;
}

.name{
 font-size: 14px;
}
