<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>CristianoCR7Ò</ion-title>
    <div slot="end">
      <ion-icon name="videocam-outline" class="chat-icons"></ion-icon>
      <ion-icon name="create-outline" class="chat-icons"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" placeholder="Rechercher"></ion-searchbar>
  <ion-item lines="none">
    <p slot="start" class="chat-title">Message</p>
    <a slot="end">0 demande</a>
  </ion-item>
  <ion-item lines="none" *ngFor="let profile of chatList ">
    <img slot="start" class="chat-profile" [src]="profile.photo" alt="profil" width="50" height="50" slot="start">
    <p class="name">{{profile.name}} <br> {{profile.subname}}</p>
    <ion-icon name="camera-outline" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <p slot="start" class="chat-title">Suggestions</p>
  </ion-item>
  <ion-item lines="none" *ngFor="let profile of chatList ">
    <img slot="start" class="chat-profile" [src]="profile.photo" alt="profil" width="50" height="50" slot="start">
    <p class="name">{{profile.name}} <br> {{profile.subname}}</p>
    <ion-icon name="camera-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item lines="none" *ngFor="let profile of chatList ">
    <img slot="start" class="chat-profile" [src]="profile.photo" alt="profil" width="50" height="50" slot="start">
    <p class="name">{{profile.name}} <br> {{profile.subname}}</p>
    <ion-icon name="camera-outline" slot="end"></ion-icon>
  </ion-item>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-footer>
