.sc-ion-modal-md-h {
  --width: 100%;
  --min-width: auto;
  --max-width: auto;
  --height: 80%;
  --min-height: auto;
  --max-height: auto;
  --overflow: hidden;
  --border-radius: 0;
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
  --background: var(--ion-background-color, #fff);
  --box-shadow: none;
  --backdrop-opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  contain: strict;
}

ion-toolbar {
  border-bottom: 1px solid #c9c9c9;

  img {
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.image-radius{
  border-radius: 50%;
}

.subname{
  color: #999999;
  margin-top: -10px;
}

.share{
  margin-bottom: 10px;
}
