/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// custom css

.modal-css {
  --width: 100%;
  --min-width: auto;
  --max-width: auto;
  --height: 67%;
  --min-height: auto;
  --max-height: auto;
  --overflow: hidden;
  --border-radius: 0;
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
  --background: var(--ion-background-color, #fff);
  --box-shadow: none;
  --backdrop-opacity: 0;
  left: 0;
  right: 0;
  top: 0px;
  bottom: -20%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  outline: none;
  contain: strict;
  margin-top: 0%;
}

.more-option-modal-css{
  --width: 100%;
  --min-width: auto;
  --max-width: auto;
  --height: 30%;
  --min-height: auto;
  --max-height: auto;
  --overflow: hidden;
  --border-radius: 0;
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
  --background: var(--ion-background-color, #fff);
  --box-shadow: none;
  --backdrop-opacity: 0;
  left: 0;
  right: 0;
  top: 0px;
  bottom: -54%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  outline: none;
  contain: strict;
  margin-top: 0%;
}


.hr-or{
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

.hr-or:before{
  content: 'ou';
  background-color: #fff;
}

.oublier{
  margin-left: 10px;
  margin-right: 10px;
}

.oublier a{
  color: #0447bd;
  font-weight: bold;
  font-size: small;
}
