.top-icons{
  margin-right: 10px;
  font-size: 1.8em;
}

.message-editor{
  --background: #cacaca;
  border-radius: 36px;
  margin-right: 5px;
  margin-left: 5px;
}

.picture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bg-color-violet{
  background-color: #8700ff;
  margin-left: 5px;
}

.bg-color-blue{
  background-color: #3a7be0;
  margin-left: 5px;
}

.camera{
  margin-top: 20%;
  font-size: x-large;
}

.chat-icons{
  font-size: 1.5em;
  margin-top: 10px;
}

.display-chat-icons{
  display: none;
  margin-top: 10px;
}

a{
  color: #3096ef;
  font-size: 19px;
  font-weight: bold;
}

.social-form{
  margin-top: -10px;
  color: #9d9fa6;
}

.show-profile-btn{
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
}

.outgoing-message{
  background-color: #8700ff;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
}

.incomming{
  background-color: darkgrey;
  color: black;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
}
