ion-content{
  background: white;
}

#logo{
  height: 46px;
}

.icon-header{
  margin-right: 10px;
  font-size: 1.4em;
}

.profile{
  height: 55px !important;
  width: 55px !important;
  margin-left: 10px;
  border-radius: 50%;
}

#statu-add{
  position: absolute;
  margin-left: 76%;
  margin-top: 70%;
}

.myprofile{
  background-color: whitesmoke;
  border: 1px solid lightslategray;
}

.other-statu{
  border-radius: 50%;
}

.myprofile-pic{
  border-radius: 50%;
}

.profile-picture{
  background-color: orangered;
}

.profile-slide{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.profile-circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #0d0d0d;
  position: absolute;
}

.username{
  margin-left: 32px;
  font-size: 12px;
  font-weight: bold;
}

ion-item{
  padding-top: 0px;
}

.comment-section{
  margin-top:-10px;
  font-size: 12px;
}

.comment-nb{
  font-weight: bold;
}

.comment{
  margin-top: -10px
}

.comment-editor{
  padding-top: 0px;
  margin-left: -14px;
  margin-top: -14px;
}

#comment-user{
  font-weight: bold;
}

#more{
  margin-top: -9px;
  color: #9f9f9f;
}

#comment-input{
  margin-left: 34px;
  margin-top: -5px;
  width: 78%;
  border-radius: 7%;
  font-size: 14px;
}

.date{
  font-size: 10px;
  padding-left: 21px;
  margin-top: -8px;
  padding-top: 0px;
}

.modal-css {
  --width: 100%;
  --min-width: auto;
  --max-width: auto;
  --height: 80%;
  --min-height: auto;
  --max-height: auto;
  --overflow: hidden;
  --border-radius: 0;
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
  --background: var(--ion-background-color, #fff);
  --box-shadow: none;
  --backdrop-opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  contain: strict;
}
